.config/nvim/.luarc.json
.shell.pre-oh-my-zsh
.zcompdump
.zsh_history
projects
.cache
.local
.oh-my-zsh
.sudo_as_admin_successful
.zcompdump-Stephen-5.8.1
.zcompdump-Stephen-5.8.1.zwc
.zshrc.omz-uninstalled-2024-11-18_19-43-19
.bash_logout
.config/gh
.config/lazygit
.gitconfig
.landscape
.motd_shown
.nvm/
.profile
.z
