.config/nvim/.luarc.json
.config/gh
.config/lazygit
.shell.pre-oh-my-zsh
.deno
projects
.cache
.local
.oh-my-zsh
.vscode-remote-containers
.sudo_as_admin_successful
.zcompdump
.zcompdump-Stephen-5.8.1
.zcompdump-Stephen-5.8.1.zwc
.zsh_history
.zshrc.omz-uninstalled-2024-11-18_19-43-19
.bash_logout
.config/gh
.config/lazygit
.gitconfig
.git-credentials
.landscape
.motd_shown
.nvm/
.profile
.z
.npm
.dbus
